{% extends 'layout.html'%}

{% block title %}Add Transaction{% endblock %}

{% block main %}
<div class="container mt-4">
    <h1 class="display-4">Add Transaction</h1>
    <form method="POST" action="{{ url_for('add_transaction') }}">
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" id="amount" name="amount" step="0.01" required>
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control" id="type" name="type" required onchange="updateCategories()">
                <option value="income">Income</option>
                <option value="expense">Expense</option>
            </select>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" id="category" name="category" required>
                <!-- Categories will be populated by JavaScript -->
                <option value="">Select Category</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="form-group" id="other-category-group" style="display: none;">
            <label for="other-category">Other Category</label>
            <input type="text" class="form-control" id="other-category" name="other_category">
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" name="date" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Transaction</button>
    </form>
</div>

<script>
    const incomeCategories = {{ income_categories | tojson | safe }};
    const expenseCategories = {{ expense_categories | tojson | safe }};
    
    function updateCategories() {
        const type = document.getElementById('type').value;
        const categorySelect = document.getElementById('category');
        categorySelect.innerHTML = '<option value="">Select Category</option>'; // Reset options


        let categories = [];
        if (type === 'income') {
            categories = incomeCategories;
        } else if (type === 'expense') {
            categories = expenseCategories;
        }

        categories.forEach(category => {
            const option = document.createElement('option');
            option.value = category;
            option.textContent = category;
            categorySelect.appendChild(option);
        });
    }

    function showOtherInput(){
        const categorySelect = document.getElementById('category').value;
        const otherCategoryGroup = document.getElementById('other-category-group');

        if (categorySelect === 'Other') {
            otherCategoryGroup.style.display = 'block';
        } else {
            otherCategoryGroup.style.display = 'none';
        }
    }

    // Initialize categories on page load
    document.addEventListener('DOMContentLoaded', function() {
        updateCategories();
        showOtherInput();
        
        const dateInput = document.getElementById('date');
        const today = new Date().toISOString().split('T')[0];
        dateInput.setAttribute("max", today);
    });
    
</script>

{% endblock %}
