{% extends 'layout.html' %}

{% block title %}
    Profile
{% endblock%}

{% block main %}

    <h1>Profile</h1>
    <form method="POST" action="/profile/{{ user[0]['id'] }}" class="border py-3">
        <h3 class="mb-3">{{ user['username'] }}</h3>
        <div class="row mb-3">
            <label for="username" class="form-label text">New Username</label>
            <input type="text" name="username" placeholder="Enter new username (leave empty if not changing)" class="form-control mx-auto w-50">
        </div>
        <div class="mb-3">
            <label for="new-password" class="form-label">New Password</label>
            <input type="password" name="new-password" placeholder="Enter new password (leave empty if not changing)" class="form-control mx-auto w-50">
        </div>
        <div class="mb-3">
            <label for="repeat-password" class="form-label">Repeat New Password</label>
            <input type="password" name="repeat-password" placeholder="Repeat new password" class="form-control mx-auto w-50">
        </div>
        <div class="mb-3">
            <label for="current-password" class="form-label">Current Password</label>
            <input type="password" name="current-password" placeholder="Enter your current password to confirm changes" class="form-control mx-auto w-50">
        </div>
        <button type="submit" class="btn btn-primary">Change</button>

    </form>
    <button type="button" class="btn btn-secondary mt-3" data-bs-toggle="modal" data-bs-target="#balanceModal">
        Add Balance
    </button>
</div>
<!-- Modal for adding balance -->
<div class="modal fade" id="balanceModal" tabindex="-1" aria-labelledby="balanceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="balanceModalLabel">Add Balance</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/add_balance/{{ user[0]['id'] }}">
                    <div class="mb-3">
                        <label for="balance" class="form-label">Balance</label>
                        <input type="number" name="balance" placeholder="Enter amount to add" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Balance</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
